<div class="row separatorLineRow">
  <hr/>
</div><!-- /.row separatorLineRow -->

<div class="row center-block inputRow">

  <form class="form-horizontal" {{action 'createTodo' on='submit'}}>

    <div class="col-xs-9">

      {{input type="text" class="form-control" placeholder="What needs to be done?" value=task}}

    </div><!-- /.col-xs-9 -->

    <div class="col-xs-3">

      <button class="btn btn-btn-large btn-block">Add Todo</button>

    </div><!-- /.col-xs-3 -->

  </form><!-- /.form-horizontal -->

</div><!-- /.row inputRow -->

<div class="row todosRow">

  <br>

  <div class="todosList">

    <ul>
      {{#each itemController='todo'}}

        <li class="todoListItem" {{action 'editTodo' on='doubleClick'}}>

          {{input type="checkbox" class="todoCheckbox" checked=is_done}}

          <span id="todoTask" {{bind-attr class="is_done:completedTodo"}}>

            {{#if isEdit}}

              {{edit-todo class='form-control' value=task focus-out='acceptEdit' insert-newline='acceptEdit'}}

            {{else}}
              {{task}}
            {{/if}}

          </span>

          <div class="hoverControls pull-right">

            <span {{action 'editTodo' this}} class="glyphicon glyphicon-edit" ></span>
            <span {{action 'deleteTodo' this}} class="glyphicon glyphicon-remove" ></span>

          </div><!-- /.hoverControls pull-right -->

        </li><!-- /.todoListItem -->

      {{/each}}

    </ul>

  </div><!-- /.todosList -->

  <hr/>

  <div class="col-xs-3 pull-left remainingTodosContainer">

    {{totalUnfinished}} {{todoInflection}} left

  </div><!-- /.col-xs-3 pull-left remainingTodosContainer -->

  <div class="col-xs-3 pull-right markAllAsCompleteContainer">

    <a href="#" class="pull-right" {{action 'markAllTodosComplete'}}>Mark all as complete</a>

  </div><!-- /.col-xs-3 pull-right markAllAsCompleteContainer -->

</div><!-- end todosRow -->
